
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemGiohang</title>
</head>
<body>
    <div> 
        <h1>Them gio hang thanh cong</h1>
        <h2>

            <a href="/Giohang/GioHang">Xem gio hang</a>
        </h2>
    </div>
</body>
</html>
